-- TO FIND CURRENTLY REPLICATING ARTICLES INFORMATION THROUGH TSQL 
USE distribution 
GO 
SELECT TOP 1000 [publisher_id]
      ,[publisher_db]
      ,[publication_id]
      ,[article]
      ,[article_id]
      ,[destination_object]
      ,[source_owner]
      ,[source_object]
      ,[description]
      ,[destination_owner]
  FROM [distribution].[dbo].[MSarticles]