USE [Azmath_Two]
GO
ALTER INDEX [pk_k] ON [dbo].[emp] REORGANIZE WITH ( LOB_COMPACTION = ON )
GO
USE [Azmath_Two]
GO
ALTER INDEX [UQ__emp__0149C6870425A276] ON [dbo].[emp] REORGANIZE WITH ( LOB_COMPACTION = ON )
GO
